@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(193, 193, 193);
}

button {
  padding: 7px 15px;
  background-color: antiquewhite;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 5px 5px 0 2px;
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: antiquewhite;
}

.shows {
  margin-top: 50px;
}

.shows h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.likes {
  align-self: flex-end;
}

.series {
  text-align: center;
  width: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  gap: 50px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 30px;
  padding-left: 3%;
  background-color: antiquewhite;
}

.modal {
  border: solid;
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  z-index: 100;
  background: greenyellow;
  border-radius: 5px;
  display: none;
  flex-direction: row;
}

.closeBtn {
  position: absolute;
  right: 12px;
  top: 10px;
  height: 20px;
  width: 30px;
  font-size: 10px;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}

.showImg {
  border: solid;
  display: flex;
  height: 90%;
  width: 48%;
  margin-left: 3%;
  margin-top: 3%;
}

.showTitle {
  align-self: center;
  margin-top: 5%;
}

.item-details {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-direction: column;
}

.active {
  display: flex;
}

img {
  height: 100%;
  width: 100%;
}

p {
  font-weight: bold;
  margin-bottom: 50px;
}

.innerReservation {
  display: grid; 
  width: 70%;
}

.reservations {
  margin: 2%;
  background-color: aquamarine;
  z-index: 1000;
  display: none;
  border-radius: 15px;
  padding-bottom: 5%;
  justify-content: center;
  
}

.X-mark {
  display: flex;
  justify-content: flex-end;
  margin: 2%;
}

.X-icon {
  font-size: xx-large;
  background-color: rgb(21, 150, 84);
  padding: 1%;
  cursor: pointer;
}

.info-image-container {
  display: grid;
  gap: 5%;
}

.reserve-image {
  display: grid;
  grid-column: 1;
  margin-left: 5%;
  width: 30vw;
}

.info {
  grid-column: 2;
  margin-right: 5%;
}

.movie_name {
  text-align: center;
}

.inputs {
  margin-top: 5%;
  height: 30px;
  outline: none;
}

.form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.reserveBtn {
  margin-top: 5%;
  align-self: flex-end;
}

.Num-of-reservation {
  margin-top: 3%;
  text-align: center;
}

.reservation-Data {
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-top: 2%;
  border-radius: 1px;
}

.add-reservation {
  text-align: center;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  padding: 0% 3%;
}

.eachResserve {
  margin-bottom:-5px ;
}

.item-detail {
  display: flex;
  padding: 3%;
  gap: 5%;
}

.eachImage {
  object-fit: contain;
  width: 30vw;
  height: 500px;
}