@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(193, 193, 193);
}

button {
  padding: 7px 15px;
  background-color: antiquewhite;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 5px 5px 0 2px;
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: antiquewhite;
}

.shows {
  margin-top: 50px;
}

.shows h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.likes {
  align-self: flex-end;
}

.series {
  text-align: center;
  width: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  gap: 50px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.heart {
  transition: transform 0.2s ease-in-out;
}

.heart:active {
  transform: scale(1.1);
}

footer {
  width: 100%;
  bottom: 0;
  padding: 30px;
  padding-left: 3%;
  background-color: antiquewhite;
}

.modal {
  border: solid;
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  z-index: 100;
  background: greenyellow;
  border-radius: 5px;
  display: none;
  flex-direction: row;
}

.closeBtn {
  position: absolute;
  right: 12px;
  top: 10px;
  height: 20px;
  width: 30px;
  font-size: 10px;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}

.showImg {
  border: solid;
  display: flex;
  height: 90%;
  width: 48%;
  margin-left: 3%;
  margin-top: 3%;
}

.showTitle {
  align-self: center;
  margin-top: 5%;
}

.item-details {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-direction: column;
}

.active {
  display: flex;
}

img {
  height: 100%;
  width: 100%;
}

p {
  font-weight: bold;
  margin-bottom: 50px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  padding: 0% 3%;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}